/*Header */

/*Color bg-inizia        #0061FE; */
/*Color bg-inizia"hover" #97b9d3; */

/* Main */
/* bg-color Main         #B4D0E6; */
/* */
/* */
/* */
/* */
/* */
/* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Inizio Header */
.logo {
  display: flex;
  align-items: center;
}

.header_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.1rem;
}

nav a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.leftheader {
  display: flex;
}

.rightheader {
  display: flex;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 1.1rem;
  background-color: #0061fe;
  color: white;
  border: none;
}

button:hover {
  background-color: #97b9d3;
}
/* Fine Header */

/*Inizio Main */

/*Fine Main */

[class^="col"] {
  padding: 1rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  background-color: #b4d0e6;
}

main hr {
  padding:50px
}

.container {
  display: flex;
  background-color: #b4d0e6;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  font-size: 1.1rem;
}

.jumbo {
  max-width: 100%;
}

/*Fine Main */

/* Calc */
.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
  padding: 1rem;
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: calc(100% / 12 * 12);
}

.row1 {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.top-tabel {
  text-align: center;
  height: 50px;
}

div h3 {
  height: 50px;
}

.plan-business {
  font-size: 2rem;
}

.flex-between {
  display: flex;
  justify-content: space-around;
}

.card1 {
  border: 1px solid grey;
}

.partners {
  max-width: 100%;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.partner-dropbox {
  h2 {
    padding-top: 1rem;
  }
  p {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

img {
  max-width: 100%;
}

footer {
  background-color: black;
  color: white;
  height: 500px;

  hr {
    width: 10%;
    margin:50px;
  }
}

.row3 {
  display: flex;

  font-size: 1.3rem;
}

ul {
  list-style: none;
  padding: 10px;
  text-align: center;
}

li {
  padding-bottom: 1rem;
}

.worldit {
  display: flex;
  margin-left: 90px;
}