/*Header */

/*Color bg-inizia        #0061FE; */
/*Color bg-inizia"hover" #97b9d3; */

/* Main */
/* bg-color Main         #B4D0E6; */
/* */
/* */
/* */
/* */
/* */
/* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Inizio Header */
.logo {
  display: flex;
  align-items: center;
}

.header_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.1rem;
}

nav a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.leftheader {
  display: flex;
}

.rightheader {
  display: flex;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 1.1rem;
  background-color: #0061fe;
  color: white;
  border: none;
}

button:hover {
  background-color: #97b9d3;
}
/* Fine Header */

/*Inizio Main */

/*Fine Main */

[class^="col"] {
}

h1 {
  font-size: 4rem;
  text-align: center;
  background-color: #b4d0e6;
}

.container {
  display: flex;
  background-color: #b4d0e6;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  font-size: 1.1rem;
}

.jumbo {
  max-width: 100%;
}

hr {
  padding: 10px;
}
/*Fine Main */

/* Calc */
.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: calc(100% / 12 * 12);
}

.container1 {
  margin-top: 50px;
  margin-left: 20px;
}
.row1 {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.top-tabel {
  text-align: center;
  height: 50px;
}

div h3 {
  height: 50px;
}

.plan-business {
  text-align: center;
  font-size: 2rem;
}

.flex-between {
  display: flex;
  justify-content:space-around;
  
}

.container2 {
  margin-top: 50px;
  margin-left: 20px;
  padding: 50px;
 
}